#footer
  .container.text-center
    div
      | © 2014 Hyprtxt
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/digitaldesigndj/hosting') GitHub Project
      |  ·
      a(href='https://github.com/digitaldesigndj/hosting/issues')  Issues
