extends layout

block content
  h1 BoundStar Player Management Website
  p.lead
    | The future of StarBound today

  h3 Things to do
  ul
    li Server Management (Bash Script Buttons)
    li Player Management (Upgrade Quests)
    li Admin Only Route Authentication (Manually hardcode or Get linked player level)
    li Allow Players and higher to claim a planet?

  h3 User Levels
  ul
    li Guest - Anyone
    li Player - Registered, Linked Steam Account?, Linked Player, Registered on Forums (with Player Name)
    li Builder - Vote Threshold, Sponsorship, Forum Reputation Threshold
    li Admin - Reputation, Sponsorship
    li Owner - Wizards only, fool
    li Donors - Need to encourage, make 'em feel special


  h3 API's
  ul
    li Check if user created forum acct (to lowercase) - http://forum.boundstar.com/api/user/:character
    li Check user votes (to lowercase) - http://starbound-servers.net/...
    li Claim Player - sqlite3 database connector or starrybound process?

  h3 UX Hazards
  ul
    li When you vote, make sure you use your claimed characters name or you will not get credit.
    li Users should signup for the forum with Steam, but need to change thier name to match thier character.
