ul
  li
    a(href='/admin') Boundstar Admin
  li
    a(href='/hosting') Hosting
  li
    a(href='/hosting/domains') Domains
  li
    a(href='/hosting/servers') Servers
  li
    a(href='/hosting/images') Images
  li
    a(href='/hosting/make/server') Make a new server